<% include header %>
<!--点击用户昵称显示用户所有的发布信息-->
<% docs.forEach(function(doc){ %>

<p><h2><a href="/u/<%= doc.name %>/<%= doc.title %>/<%= doc.time %>"><%= doc.title %></a></h2></p>
<p class="info">
  作者: <a href="/u/<%= doc.name %>"><%= doc.name %></a>
  日期: <%= doc.time %>
</p>
<p>
  <!--
      =输出字符串
      -以HTML格式输出
  -->
    <%- doc.content %>
</p>

<% })  %>

<% include footer %>